* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: margin 0.5s;
  margin: 0 0 0 -250px;
}

.wrapper.is-nav-open {
  margin-left: 0;
}

.wrapper.is-nav-open .nav__icon {
  transform: rotateZ(-180deg);
}

.nav {
  position: relative;
  width: 250px;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.nav__icon {
  position: absolute;
  top: 20px;
  right: -50px;
  font-size: 30px;
  cursor: pointer;
  transition: color .5s ease-in-out, transform 1s ease-in-out;
}

.nav__icon:hover {
  color: #5eb2ff;
}

.content {
  padding: 100px;
  margin: 0 auto;
}
